#first {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 70px;
  }
  #sec {
    margin-top: 10px;
    margin-bottom: 60px;
    margin-right: 100px;
    margin-left: 70px;
  }