#first {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 70px;
    text-align: left;
  }
  #list1{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 70px;
  
  }
  #sec {
    margin-top: 10px;
    margin-bottom: 60px;
    margin-right: 100px;
    margin-left: 70px;
    text-align: left;
  }
  
  #column {
    float: left;
    width: 45%;
    margin-left: 70px;
    padding-top: 2px;
   padding-right: 30px;
   text-align: justify;
}
#c2{
    text-align: justify;
    margin-right: 100px;
}
    
  }
  
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; 
    }
  }
  